:root {
  --header-link-kolor: #a4a5a8;
  --main-font: 'Roboto', sans-serif;
  --second-font: 'Open Sans', sans-serif;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  max-width: 1375px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  align-items: center;
}

.site-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

/* top */
.header__top {
  display: flex;
  width: 1200px;
}

.top__main {
  display: flex;
  list-style: none;
  margin-left: auto;
  margin-right: 30px;
}

.top__link {
  font-family: var(--main-font);
  font-size: 10px;
  font-weight: 100;
  line-height: 1.2;
  text-decoration: none;
  color: var(--header-link-kolor);
  padding-left: 16px;
  padding-right: 16px;
}

.top__link:hover,
.top__link:focus {
  color: #3d7d16;
}

/* bottom */
.header__bottom {
  display: flex;
  width: 1200px;
  margin: 0;
}

.bottom__main {
  display: flex;
  list-style: none;
}

.bottom__link {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  text-decoration: none;
  color: var(--header-link-kolor);
  padding-left: 35px;
  padding-right: 35px;
  margin: 0;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: solid 1px;
  border-left: #fff;
  border-right: #fff;
}

.bottom__link:hover,
.bottom__link:focus {
  color: #686868;
}

/* ////////// MAIN /////////// */

/* nav */

.container {
  width: 1375px;
  background-color: #4a4e5a;
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  margin: 0;
  padding: 0;
}

.nav__main {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 155px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav__link {
  font-family: var(--main-font);
  font-size: 10px;
  font-weight: 100;
  line-height: 1.6;
  text-decoration: none;
  color: var(--header-link-kolor);
  padding-left: 17px;
  padding-right: 17px;
}

.nav__link:hover,
.nav__link:focus {
  color: #fff;
}

/* baner */

.banner {
  background-image: url(../img/land/225213563.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  display: flex;
}

.banner__container {
  margin-left: 100px;
  margin-top: 100px;
}

.banner__title {
  font-family: var(--main-font);
  font-size: 48px;
  font-weight: 400;
  color: #4a4e5a;
  margin: 0;
  margin-bottom: 20px;
}

.banner__description {
  font-family: var(--main-font);
  font-size: 20px;
  font-weight: 400;
  color: #4a4e5a;
  margin: 0;
  margin-bottom: 20px;
}

.banner__main {
  margin: 0;
  padding: 0;
  list-style: none;
}

.banner__link--1 {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  height: 30px;
  width: 140px;
  border: solid #383b45;
  background-color: #383b45;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.banner__link--1:focus,
.banner__link--1:hover {
  background-color: #929294;
  border-color: #929294;
}

.banner__link--2 {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 300;
  color: #4a4e5a;
  text-decoration: none;
}

/* models */
.models {
  display: flex;
  width: 1375px;
  background-color: #4a4e5a;
}

.models-1 {
  width: 675px;
}

.models__main--1 {
  display: flex;
  margin-bottom: 15px;
}

.models__link-card {
  margin-left: 50px;
  margin-top: 100px;
}

.models__link {
  font-family: var(--main-font);
  font-size: 10px;
  font-weight: 400;
  line-height: 1.6;
  text-decoration: none;
  color: var(--header-link-kolor);
  padding-left: 17px;
  padding-right: 17px;
}

.models__link:hover,
.models__link:focus {
  color: #fff;
}

.models__text-card {
  margin-left: 60px;
  margin-top: 200px;
}

.models__title {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
  color: var(--header-link-kolor);
  margin: 0;
  margin-bottom: 15px;
}

.models__description {
  font-family: var(--main-font);
  font-size: 10px;
  font-weight: 400;
  line-height: 1.6;
  color: var(--header-link-kolor);
}

.models__main--2 {
  display: flex;
  list-style: none;
}

.models-2 {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
}

.card {
  margin: 0;
  padding: 0;
  margin-bottom: -4px;
}

/* //////////////  car  ////////////// */

.car {
  display: flex;
  margin-bottom: 0;
}

/.car-img {
  height: 675px;
  width: 675px;
  margin-bottom: -5px;
}

.car-text {
  width: 700px;
  height: 675px;
  background-color: #ece8de;
}

.car-text__title {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
  color: var(--header-link-kolor);
  margin: 0;
  margin-bottom: 15px;
}

.car-text__description {
  font-family: var(--main-font);
  font-size: 10px;
  font-weight: 400;
  line-height: 1.6;
  color: var(--header-link-kolor);
  width: 350px;
  margin-bottom: 60px;
}

.car-text__text-card {
  margin-left: 60px;
  margin-top: 150px;
}

.car-text__link--1 {
  font-family: var(--main-font);
  font-size: 14px;
  color: var(--header-link-kolor);
  text-decoration: none;
  border: solid 1px;
  border-left: none;
  border-right: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 35px;
  margin-bottom: 60px;
}

.car-text__link--2 {
  font-family: var(--main-font);
  font-size: 14px;
  color: var(--header-link-kolor);
  text-decoration: none;
  background-color: #383b45;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 50px;
  margin-bottom: 60px;
  scale: 1;
}

.car-text__link--2:hover,
.car-text__link--2:focus {
  color: #fff;
}

/* ///////   CAPABILITY   ////////// */
.capability {
  display: flex;
  width: 1375px;
}

.capability-1 {
  width: 675px;
  height: 690;
}

.capability-1__text {
  margin-left: 60px;
  margin-top: 150px;
}

.capability-1__link {
  font-family: var(--main-font);
  font-size: 14px;
  color: var(--header-link-kolor);
  text-decoration: none;
  border: solid 1px;
  border-left: none;
  border-right: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 35px;
  margin-bottom: 60px;
}

.capability-1__title {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
  color: var(--header-link-kolor);
  margin: 0;
  margin-bottom: 15px;
}

.capability-1__description {
  font-family: var(--main-font);
  font-size: 10px;
  font-weight: 400;
  line-height: 1.6;
  color: var(--header-link-kolor);
  width: 350px;
  margin-bottom: 60px;
}

/* //////  build  ////// */

.build__link--1 {
  font-family: var(--main-font);
  font-size: 14px;
  color: var(--header-link-kolor);
  text-decoration: none;
  border: solid 2px black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 50px;
  margin-bottom: 20px;
  scale: 1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.build__link--1:hover,
.build__link--1:focus {
  color: black;
}

.build__link--2 {
  font-family: var(--main-font);
  font-size: 14px;
  color: var(--header-link-kolor);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
}
